<% if current_user_is_admin %>
<div class="well"><%= link_to "Add a new workshop", new_workshop_path %></div>
<% end %>

<% for workshop in @workshops %>
<div class="well">
	<h2><%= link_to workshop.title, workshop %></h2>
  <p><b><%= workshop.start_date.strftime("%A, %b %-d, %Y") %> - <%= workshop.end_date.strftime("%A, %b %-d, %Y") %></b></p>
	<p><%= workshop.description %></p>
  <p><b><%= workshop.sessions.count %> sessions</b></p> 
</div>
<% end %>