<% if current_user_is_admin %>
<div class="well"><%= link_to "Add a new workshop", new_workshop_path %></div>
<% end %>

<% for workshop in @workshops %>
<div class="well">
  <% if workshop.end_date < Date.today %>
  <div class="alert alert-error"><strong>This workshop has already finished!</strong></div>
  <% elsif workshop.start_date < Date.today %>
  <div class="alert"><strong>This workshop has already started!</strong></div>
  <% end %>
	<h2><%= link_to workshop.title, workshop %></h2>
  <p><b><%= workshop.start_date.strftime("%A, %b %-d, %Y") %> - <%= workshop.end_date.strftime("%A, %b %-d, %Y") %></b></p>
	<p><%= workshop.description %></p>
  <p><b><%= workshop.sessions.count %> sessions</b></p> 
</div>
<% end %>