<% if current_user_is_admin %>
<p>
  <%= link_to "Edit Workshop", edit_workshop_path(@workshop) %>
  //
  <%= link_to "Delete Workshop", workshop_path(@workshop), method: "delete", data: { confirm: "Are you sure you want to delete this workshop?" } %>
</p>
<% end %>
<div class="hero-unit">
  <h1><%= @workshop.title %></h1>
  <p><%= @workshop.description %></p>
  <p><%= @workshop.start_date %> - <%= @workshop.end_date %></p>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Sessions</a></li>
  <li><a href="#">Calendar</a></li>
  <li><a href="#">Map</a></li>
  <li><a href="#">About</a></li>
</ul>
<div class="row">
  <div class="span4">
    <div class="well">
      <div>
        <h1>Session 1</h1>
        <p>This is a template</p>
      </div>
    </div>
    <div class="well">
      <div>
        <h1>Session 2</h1>
        <p>This is a template</p>
      </div>
    </div>
    <div class="well">
      <div>
        <h1>Session 3</h1>
        <p>This is a template</p>
      </div>
    </div>
  </div>
  <div class="span8">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
        turpis sit amet odio rhoncus elementum. Suspendisse ac nulla a est varius
        dignissim. Phasellus bibendum ornare dolor vitae consequat. Proin nec molestie
        eros. Nullam imperdiet ipsum ac turpis aliquam imperdiet. Nunc gravida
        ultricies diam at condimentum. Mauris adipiscing sem in nunc rutrum facilisis.
        Aenean et convallis leo. Aliquam erat dui, ornare eu egestas sed, imperdiet
        at purus. Curabitur consectetur bibendum nibh varius dictum.
        <br>
      </p>
    </div>
  </div>
</div>
