<div class="hero-unit workshop-info">
  <% if current_user_is_admin %>
  <ul class="admin-controls">
    <li>
      <%= link_to workshop_path(@workshop), method: "delete", rel: "tooltip", title: "Delete", data: { confirm: "Are you sure you want to delete this workshop?", placement: "left" } do %>
        <i class="icon-remove"></i>
      <% end %>
    </li>
    <li>
      <%= link_to edit_workshop_path(@workshop), rel: "tooltip", title: "Edit", data: { placement: "left" } do %>
        <i class="icon-edit"></i>
      <% end %>
    </li>
  </ul>
  <% end %>
  <h1><%= @workshop.title %></h1>
  <% unless @workshop.description.empty? %><p class="description"><%= @workshop.description %></p><% end %>
  <p class="dates"><time datetime="<%= @workshop.start_date %>"><%= @workshop.start_date.strftime("%x") %></time><% unless @workshop.start_date == @workshop.end_date %> - <time datetime="<%= @workshop.end_date %>"><%= @workshop.end_date.strftime("%x") %></time><% end %></p>
</div>
<!-- <ul class="nav nav-tabs">
  <li class="active"><a href="#">Sessions</a></li>
  <li><a href="#">Calendar</a></li>
  <li><a href="#">Map</a></li>
  <li><a href="#">About</a></li>
</ul> -->
<div class="row">
  <div class="span4">
    <div class="well" style="padding: 8px 0;">
      <ul id="session-list" class="nav nav-list">
        <% if current_user_is_admin %>
        <li class="nav-header">Admin Tools</li>
        <li id="add-session">
          <%= link_to new_workshop_session_path(@workshop), remote: true do %>
          <i class="icon-plus"></i> Add Session
          <% end %>
        </li>
        <% end %>
        <li class="nav-header">Sessions</li>
        <% unless @workshop.sessions.empty? %>
          <% for session in @workshop.sessions %>
          <li class="session" data-id="<%= session.id %>"><%= link_to truncate(session.title, length: 35, separator: " "), workshop_session_path(@workshop, session), remote: true %></li>
          <% end %>
        <% else %>
          <li><span class="no-sessions">No sessions</span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span8">
    <div id="session-info" class="well" style="position: relative;">
    </div>
  </div>
</div>
