<% if current_user_is_admin %>
<p>
  <%= link_to "Edit Workshop", edit_workshop_path(@workshop) %>
  //
  <%= link_to "Delete Workshop", workshop_path(@workshop), method: "delete", data: { confirm: "Are you sure you want to delete this workshop?" } %>
</p>
<% end %>
<div class="hero-unit">
  <h1><%= @workshop.title %></h1>
  <p><%= @workshop.description %></p>
  <p><%= @workshop.start_date %> - <%= @workshop.end_date %></p>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Sessions</a></li>
  <li><a href="#">Calendar</a></li>
  <li><a href="#">Map</a></li>
  <li><a href="#">About</a></li>
</ul>
<div class="row">
  <div class="span4">
    <div class="well" style="max-width:340px; padding: 8px 0;">
      <ul id="session-list" class="nav nav-list">
        <li class="nav-header">Admin Tools</li>
        <li id="add-session"><%= link_to "Add Session", new_workshop_session_path(@workshop), remote: true %></li>
        <li class="nav-header">Sessions</li>
        <% for session in @workshop.sessions %>
        <li id="session-<%= session.id %>"><%= link_to session.title, workshop_session_path(@workshop, session), remote: true %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span8">
    <div id="session-info" class="well">
      No session selected...
    </div>
  </div>
</div>
