<%= form_for([@workshop, @session], html: {class: 'form-horizontal'}, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: @session %>
  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description, rows: 5 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_datetime, class: "control-label" %>
    <div class="controls">
      <%= f.datetime_select :start_datetime, start_year: @workshop.start_date.year, start_month: @workshop.start_date.month, start_day: @workshop.start_date.day, minute_step: 15, order: [:day, :month, :year], datetime_separator: ' @ ' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_datetime, class: "control-label" %>
    <div class="controls">
      <%= f.datetime_select :end_datetime, start_year: @workshop.end_date.year, start_month: @workshop.end_date.month, start_day: @workshop.end_date.day, minute_step: 15, order: [:day, :month, :year], datetime_separator: ' @ ' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>