<h3><%= @session.title %></h3>
<p><%= @session.description %></p>
<time><%= @session.start_datetime %></time> -- <time><%= @session.end_datetime %></time>
<p><%= link_to "Edit", edit_workshop_session_path(@session.workshop, @session), remote: true %></p>