<% if current_user_is_admin %>
<ul class="admin-controls">
  <li>
    <%= link_to workshop_session_path(@session.workshop, @session), method: "delete", rel: "tooltip", title: "Delete", data: { confirm: "Are you sure you want to delete this workshop?", placement: "left" }, remote: true do %>
      <i class="icon-remove"></i>
    <% end %>
  </li>
  <li>
    <%= link_to edit_workshop_session_path(@session.workshop, @session), rel: "tooltip", title: "Edit", data: { placement: "left" }, remote: true do %>
      <i class="icon-edit"></i>
    <% end %>
  </li>
</ul>
<% end %>
<h2><%= @session.title  %></h2>
<dl class="dl-horizontal">
  <dt>Location</dt>
  <dd><%= @session.room.room_no %> - <%= @session.room.location %></dd>
  <dt>Time</dt>
  <dd><time><%= l @session.start_datetime, format: :long %></time> - <time><%= l @session.end_datetime, format: :long %></time></dd>
<% if current_user_is_admin %>
  <dt>Equipment</dt>
  <dd>
    <ul>
      <% @session.room.equipment.each do |e| %>
      <li><%= e.name %></li>
      <% end %>
    </ul>
  </dd>
<% end %>
</dl>
<p><%= @session.description %></p>