<h1>Rooms</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Number</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
    <tr>
      <td><%= room.id %></td>
      <td><%= room.name %></td>
      <td>
        <%= link_to edit_admin_room_path(room), rel: "tooltip", title: "Edit" do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to admin_room_path(room), method: "delete", rel: "tooltip", title: "Delete", data: { confirm: "Are you sure you want to delete this room?" } do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="3"><%= link_to "Add new room", new_admin_room_path %></td>
    </tr>
  </tbody>
</table>
