<hr>
<div class="control-group">
  <%= f.label :name, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :amount, class: "control-label" %>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :amount %>
    </div>
  </div>
</div>

<label class="checkbox">
  <%= f.check_box :_destroy %> Remove
</label>