<%= form_for @budget, url: workshop_budget_path(@workshop), html: {class: 'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: @budget %>
  <div class="control-group">
    <%= f.label :accomodation_cost, class: "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :accomodation_cost %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :venue_cost, class: "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :venue_cost %>
      </div>
    </div>
  </div>
  
  <h2>Expenses</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :expenses do |builder| %>
        <%= render 'expense_fields', f: builder %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><%= link_to_add_expense "Add Expense", f, :expenses %></td>
    </tfoot>
  </table>
    
  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>