<%= form_for @budget, url: workshop_budget_path(@workshop), html: {class: 'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: @budget %>
  <div class="control-group">
    <%= f.label :accomodation_cost, class: "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :accomodation_cost %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :venue_cost, class: "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :venue_cost %>
      </div>
    </div>
  </div>
  
  <% fields_for :expenses do |builder| %>
    <div class="control-group">
      <%= builder.label :name, class: "control-label" %>
      <div class="controls">
        <%= builder.text_field :name %>
      </div>
    </div>
    
    <div class="control-group">
      <%= builder.label :amount, class: "control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= builder.text_field :amount %>
        </div>
      </div>
    </div>
    
    <%= builder.check_box :_destroy %>
    <%= builder.label :_destroy, "Remove Expense" %>
  <% end %>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>