<h2>Upcoming Workshops</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <% @workshops.each do |workshop| %>
  <tr>
    <td><%= link_to workshop.title, workshop_path(workshop) %></td>
    <td><%= workshop.start_date.strftime("%A, %b %-d, %Y") %></td>
    <td><%= workshop.end_date.strftime("%A, %b %-d, %Y") %></td>
  </tr>
  <% end %>
</table>
<hr>
<h2>Recent Announcements</h2>
<% @posts.each do |post| %>
<div class="well">
  <h2><%= link_to post.title, post %></h2>
  <p><%= truncate(post.content, length: 500, separator: '.', omission: '.') %> <%= link_to "(more)", post %></p>
</div>
<% end %>