<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Session Planner", root_path, class: 'brand' %>
			<ul class="nav">
				<li>
					<%= link_to "Blog", posts_path %>
				</li>
				<li>
					<%= link_to "Workshops", :workshops %>
				</li>
				<li>
					<%= link_to "Equipment", :equipments %>
				</li>		
			</ul>
		<%= render 'layouts/login_logout' %>
		</div>
	</div>
</div>
