<li><%= link_to "Register", new_user_registration_path %></li>
<li class="dropdown">
  <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
    Login
    <b class="caret"></b>
  <% end %>
  <div class="dropdown-menu login-dropdown">
    <%= form_for("user", url: user_session_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <label class="checkbox">
        <%= f.check_box :remember_me %> Remember me
      </label>
      <%= f.submit "Sign in", :class => "btn btn-primary" %>
    <% end %>
    <div class="login-dropdown-footer">
      <%= link_to "Forgot your password?", new_password_path('user') %>
    </div>
  </div>
</li>