<li><%= link_to "Register", new_user_registration_path %></li>
<li class="dropdown">
  <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
    Login
    <b class="caret"></b>
  <% end %>
  <div class="dropdown-menu login-dropdown">
    <%= form_tag user_session_path do %>
      <%= label_tag 'Email' %>
      <%= text_field_tag 'user[email]' %>
      <%= label_tag 'Password' %>
      <%= password_field_tag 'user[password]' %>
      <label class="checkbox">
        <%= check_box_tag 'user[remember_me]' %> Remember me
      </label>
      <%= submit_tag "Log in", :class => "btn btn-primary" %>
    <% end %>
    <div class="login-dropdown-footer">
      <%= link_to "Forgot your password?", new_password_path('user') %>
    </div>
  </div>
</li>